Repository ahmedsenousy01/dexter.ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-format, web-lint, server-format, server-lint

web-format:
  name: Web Format
  entry: bash -c 'cd web && pnpm format:write'
  language: system
  pass_filenames: false

web-lint:
  name: Web Lint
  entry: bash -c 'cd web && pnpm lint:fix'
  language: system
  pass_filenames: false

server-format:
  name: Server Format
  entry: bash -c 'cd server && pnpm format:write'
  language: system
  pass_filenames: false

server-lint:
  name: Server Lint
  entry: bash -c 'cd server && pnpm lint:fix'
  language: system
  pass_filenames: false

linting and formating, trial 4
  web/src/app/test.js
Due: web-format, web-lint

temp
  server/src/index.ts
  web/src/app/test.js
Due: web-format, web-lint, server-format, server-lint

temp2
  web/src/test.ts
Due: web-format, web-lint

temp3
  .gitignore
  .pre-commit-config.yaml
  server/eslint.config.mjs
  server/package.json
  server/prettier.config.js
  server/src/index.ts
  server/tsconfig.json
  web/.vscode/settings.json
  web/eslint.config.mjs
  web/package.json
  web/src/test.ts
Due: web-format, web-lint, server-format, server-lint

modified github actions file
  .github/workflows/lint.yml
Due: none

dockerized app successfully, still dev mode sucks
  .docker/Dockerfile.agent
  .docker/Dockerfile.server
  .docker/docker-compose.yml
  .dockerignore
  .github/workflows/docker.yml
  README.md
  agent/langgraph.json
  agent/pyproject.toml
  agent/src/main.py
  agent/uv.lock
  dexter.sh
  docker-compose.yml
  web/Dockerfile
Due: none

dev mode imp 1
  agent/.langgraph_api/.langgraph_ops.pckl
  agent/langgraph-dev.json
  agent/pyproject.toml
  agent/uv.lock
Due: none

trial 1
  .gitignore
  README.md
  agent/.env.dev.example
  agent/.env.example
  agent/.langgraph_api/.langgraph_checkpoint.1.pckl
  agent/.langgraph_api/.langgraph_checkpoint.2.pckl
  agent/.langgraph_api/.langgraph_ops.pckl
  agent/langgraph-dev.json
  agent/uv.lock
  dexter.sh
  scripts/install_dev_tools.sh
  web/.env.example
Due: none

trial 2
  web/Dockerfile
Due: none

trial 3
  agent/langgraph-dev.json
  agent/langgraph.json
Due: none

Added sequence diagrams for each use case, improved the docs
  README.md
  design-doc.md
  roadmap.md
  scripts/test-db-setup.sh
  sequence-diagrams.md
Due: none

Update dexter.sh
  dexter.sh
Due: none

trail commit
  web/components.json
  web/package.json
  web/src/app/auth/layout.tsx
  web/src/app/auth/page.tsx
  web/src/lib/utils.ts
  web/src/server/db/schema/tables/documents.ts
  web/src/server/db/schema/tables/messages.ts
  web/src/server/db/schema/tables/notifications.ts
  web/src/server/db/schema/tables/teams.ts
  web/src/server/db/schema/tables/users.ts
  web/src/styles/globals.css
Due: web-format, web-lint

built the logic of auth + refactored the ui of auth page
  web/package.json
  web/src/app/(protected)/dashboard/page.tsx
  web/src/app/_components/post.tsx
  web/src/app/auth/_components/auth-button.tsx
  web/src/app/auth/_components/auth-card.tsx
  web/src/app/auth/_components/auth-layout.tsx
  web/src/app/auth/_components/github-button.tsx
  web/src/app/auth/_components/google-button.tsx
  web/src/app/auth/layout.tsx
  web/src/app/auth/page.tsx
  web/src/app/info/privacy-policy/page.tsx
  web/src/app/info/terms-of-service/page.tsx
  web/src/app/layout.tsx
  web/src/app/page.tsx
  web/src/components/providers/session-provider.tsx
  web/src/env.js
  web/src/middleware.ts
  web/src/server/auth/index.ts
  web/src/server/auth/routes.ts
Due: web-format, web-lint

Path conditions:
  web-format: any of: ^web/.*\.(ts|tsx|js|jsx)$
  web-lint: any of: ^web/.*\.(ts|tsx|js|jsx)$
  server-format: any of: ^server/.*\.(ts|tsx|js|jsx|json)$
  server-lint: any of: ^server/.*\.(ts|tsx|js|jsx)$
